body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: #DEE0ED;
  background: #E9ECF0;
  /*overflow: hidden;*/
  margin: 0%;
}

/*div {
  margin: 20px;
  padding: 25px;
}*/

body  > .header{
   width:100%;
   height:30%;
   display: flex;
   background-color: #0A1744;
   align-items: center;
   overflow: hidden;
	
}

.header > .header_container{
	width:15%;
	height:100%;
	/*margin-left:10%;*/
	/*background-color:blue;*/
	border:1px solid black;

}

.text{
	text-align:center;
}

body > .info{
   width:100%;
   height:30px;
   display: flex;
   background-color: #E9ECF0;
   align-items: center;
}

.info > .info_card{
	width:20%;
	height:100%;
	/*margin-left:10%;*/
	/*background-color:blue;*/
	border:1px solid black;
}

body > .advantages{
	width:80%;
	height:30%;
	display: flex;
	/*background-color:purple;*/
	margin-left:10%
}

.advantages > .advantages_box{
	width: 15%;
	height: 15%;
	display: flex;
	position: relative;
	/*align-items: center;*/
	background-color:none;
	/*border:1px solid black;*/
	text-align:center;
	color: #151414;
	justify-content: center;
	align-items: center;
	font-size:23px;
}

	
.card_one{
	margin-top: 0%;
	margin-left: 0%;
}

.cards_other{
	margin-top: 0%;
	margin-left: 13%;
}

.logo{
	background-image:url('');
}


body > .footer {
	width: 100%;
	height: 70px;
	background-color: #131317;
	border-top: 1px solid #aaaaaa;
	margin-top: 23.3%;
}

.space{
	margin-left:15%;
}


.Pnumber{
	
}

.Pnumber1{
	
}

.email{
	
}

.email1{
	
}